zespol
{
	color: white;
	display: block;
	position: relative;
	padding-left: 30px;
}
@media screen and (max-width: 2000px) and (min-width: 200px) {
	czlonek
	{
		color: white;
		display: inline;
		padding-left: 21px;
		background: url(majster.jpg) left center no-repeat;
	}
}

ul#mainUL
{
	list-style-type: circle;
}

#ul
{
	list-style-type: armenian;
}

p
{
	color: white;
}